 * {
    padding: 0%;
    margin: 0%;
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
 }

 #nav-item {
    display: flex;
    gap: 30px;
    padding-left: 200px;
 }

 .list-item {
    list-style-type: none;
 }

 nav a {
    text-decoration: none;
    color:darkgreen;
    font-size: 20px;
 }
 .number {
   background-color: green;
   color: white;
}

 header {
   background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/image20.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
}

.button {
   background-color: green;
   color: white;
   font-size: 16px;
   border: none;
   padding: 15px 50px;
   text-align: center;
   display: inline-block;
   border-radius: 12px;
}
.button:hover {
   background-color: grey;
   color: white;
}

.Hero {
  text-align: center;
  color: white;
  margin-top: 250px;
}
.Hero-head {
   font-size: 80px;
   color:white;
}
.Hero p {
   font-size: 20px;
}